<ul ng-repeat="userID in userList">
    <li><a href="" ng-click="getUserInfo(userID.encodedId)">{{userID.encodedId}}</a> - {{userID.joinDate}} -
        <a href="" ng-click="refreshUserInfo(userID.encodedId)">(refresh)</a></li>
</ul>


<div>
    <table>
        <thead>
        <tr>
            <th>Calories Out</th>
            <th>Total Steps</th>
        </tr>
        </thead>
        <tr>
            <td>
                {{userInfo.summary.caloriesOut}}
            </td>
            <td>
                {{userInfo.summary.steps}}
            </td>
        </tr>
    </table>

</div>