<ul ng-repeat="userID in userList">
    <li><a href="" ng-click="getUserInfo(userID.encodedId)">{{userID.encodedId}}</a> - {{userID.joinDate}} -
        <a href="" ng-click="refreshUserInfo(userID.encodedId)">(refresh)</a></li>
</ul>


<div>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Calories Out</th>
            <th>Total Steps</th>
        </tr>
        </thead>
        <tr ng-repeat="info in userInfo.infoByDate">
            <td>
                {{info.date | date:'MM/dd/yyyy'}}
            </td>
            <td>
                {{info.caloriesOut}}
            </td>
            <td>
                {{info.steps}}
            </td>
        </tr>
    </table>

</div>